body{
  text-align: center;
  background: ghostwhite;
  font-family: monospace;
  margin: 0;
}

#app {
  border: 2px solid tomato;
  min-height: 100vh;
  padding: 5px 10px;
  width: 80%;
  margin: 0 auto;
}

#secretForm {
  border: 2px solid dodgerblue;
  padding: 5px 10px;
}

textarea {
  width: 80%;
  display: block;
  margin: 10px auto;
  outline: none;
  border: 2px solid limegreen;
}

#secrets li {
  background: white;
  border: 1px solid darkslategray;
  margin-bottom:  10px;
  list-style: none;
  padding: 5px 10px;
  box-shadow: 5px 5px 5px chartreuse;
}

li:hover {
  transform: rotate(5deg);
}
