
<div id="app">
  <h1>This is where Backbone should be loaded</h1>
</div>

<script type="html/template" id="AppViewTemplate">
  <h1>Our Secrets Application</h1>
<hr>

<div id="secretForm">
  An instance of the secretinputView should go here
</div>

<ul id="secrets">
<!--  Many instance of SecretView should go here</ul> -->
</script>

<script type="html/template" id="SecretInputViewTemplate">
  <textarea placeholder="Tell me all of your secrets"></textarea>
  <button>Submit</button>
</script>
