<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Our Animals App</title>
</head>
<body>

<h1>Our Animals Application</h1>

<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/animals">All Animals</a>
  <a href="/>animals/new">Create an Animal</a>


<hr>

<%= yield %>

<hr>


</nav>

</body>
</html>
