body {
  font-family: Arial, sans-serif;
  margin:0 auto;
  text-align:center;
  background-color:#E7F9F9;
}
h1 {
    background-color: White;
    font-weight:normal;
    font-family: 'Codystar', cursive;
    color: #EDA1DF;
    letter-spacing: 1px;
    font-size: 96px;
    font-weight: 550;
    padding: 30px 5px 0 5px;
    margin: 0;
}
h3 {
    background-color: White;
    text-align: Center;
    font-family: Arial;
    color: #5C4176;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 37px;
    padding: 0 20px 20px 20px;
    border-bottom: 40px;
    margin: auto;
}
.turn {
    height:40px;
    margin-top: 10px;
    margin-bottom:10px;
    font-size: 15px;
    color: #5C4176;
}
table border{
    margin: 40px;
}
table {
    border-collapse:collapse;
    color: white;
    width:750px;
    border-top: 50px;
    margin:0 auto;
    margin-top: 50px;
}
td {
    width:250px;
    height:250px;
    color: white;
    border:5px solid #EDA1DF;
    cursor:pointer;
  }
td:before {
    font-size:250px;
    line-height:1;
    }
td.cross:before {
    content:"X";
    color: #5C4176;
    }
td.circle:before {
    content:"0";
    color: #EDA1DF;
}
.reset {
    background: linear-gradient(#f7f7f7 17%, #dbdbdb 95%);
    width: 120px;
    height:  50px;
    font-size: 20px;
    border: 1px solid #cbcbcb;
    padding:5px 10px
    font-family:Arial, sans-serif;
}
h5 {
    background-color:#E7F9F9;
    text-align: Center;
    height: 110px;
    font-family: Arial;
    color: #5C4176;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 28px;
    margin: 0;
    padding: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
footer {
    background-color: #ffffff;
    text-align: Center;
    height: 100px;
    font-family: Arial;
    color: #5C4176;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 22px;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.footer {
    background-color: #ffffff;
}
