body {
  margin: 5px;
  background-color: #E7F9F9;
  color: #000000;
  font-family: sans-serif;
}
h1 {
  background-color: White;
  text-align: Center;
  font-family: 'Codystar', cursive;
  color: #EDA1DF;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 128px;
  padding: 20px 20px 0 20px;
  margin: 0;
}
h3 {
  background-color: White;
  text-align: Center;
  font-family: Arial;
  color: #5C4176;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 40px;
  padding: 0 20px 20px 20px;
  border-bottom: 40px;
  margin: auto;
}
.game {
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 960px;
  height: 960px;
  padding: 20px;
  margin-left: -500px;
  margin-top: -750px;
  margin-bottom: -200px;
}
.container {
  background-color: #ffffff;
  position: absolute;
  width: 960px;
  height: 960px;
  border-top: 20px;
  border-color: #00ff00;
  border-width: 2px;
  box-sizing: inherit;
}
.grid td {
  background-color: #fff;
  width: 100px;
  height: 100px;
  border: 5px solid #EDA1DF;
}
/** .grid td.move-x {
        background-image: url(http://i61.tinypic.com/faz9g3.png);
}
.grid td.move-o {
        background-image: url(http://i61.tinypic.com/ounjtu.png);
} **/
grid td.move-x,.grid td.move-o{position:relative}
grid td.move-x:before,.grid td.move-o:before{position:absolute; z-index:10; font-size:100px}
grid td.move-x:before{content:"X"}
.grid td.move-o:before{content:"O"}

footer {
  background-color: White;
  text-align: Center;
  height: 500px;
  font-family: Arial;
  color: #5C4176;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 36px;
  padding: 30px 20px 30px 20px;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
